<div  align="center" style=" padding-top:2%;" vertical-align: middle>
     <button id="addBook" class="btn btn-primary" a routerLink="/add-book">Add Book</button><p>
     <button id="editBook" class="btn btn-primary"  a routerLink="/add-book">Edit Book</button><p>
     <button id="deleteBook" class="btn btn-primary"  a routerLink="/">Delete Book</button><p>

     <button id="addUser" class="btn btn-primary"  a routerLink="/">Add User</button><p>
     <button id="editUser" class="btn btn-primary"  a routerLink="/">Edit User</button><p>
     <button id="deleteUser" class="btn btn-primary"  a routerLink="/">Delete User</button><p>
     <button id="viewAllUsers" class="btn btn-primary"  a routerLink="/">View All Users</button><p>
</div>
