<div class="container"><br/>
    <div class="row">	
        <div *ngFor="let book of books">			
            <div class="col-md-8">
                <div class="thumbnail">
                    <img width="200" height="250" src="./assets/BookImages/{{book.imageUrl}}">
                    <div class ="caption">
                        <h6>{{ book.bookName}}</h6>
						<div class="row">
                            <div class="col-md-7">
                            	<h6> {{ book.author}}</h6>
                            </div>
                        </div>
                        <button class="add_cart btn btn-info btn-block" a routerLink="/book-detail">View Book</button>
						<p><p>
					</div>
                </div>
            </div>
		</div>
	</div>
</div>